body{
    padding: 0;
    margin: 0;
    background-color: rgb(184, 255, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
}
.content{
    border:2px solid black;
    padding: 30px 30px;
    border-radius: 20px;
    background-color: rgb(255, 242, 222);
    width: max-content;
}
.head h3{
    text-align: center;
    font-size: 26px;
}
.head{
  
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
input{
    display: block;
     margin-bottom: 13px;
    border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
    border-radius: 4px;
    text-decoration: none;
    text-decoration-line: none;
    padding: 8px;
}
label{
    font-weight: bold;
}
button{
    font-weight: bold;
    width: auto;
    margin-top: 10px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(184, 255, 240);
    cursor: pointer;       
}
.input-group{
    display: flex;
    flex-direction: column; 
}
.input-group .error{
    color: red;
    font-size: smaller;
    position:relative;
    bottom:12px;
}
.input-group.success input{
    border-color:green ;
    
}
.input-group.error input{
    border-color: red;
}
